[2020-08-21 13:50] pushpinderpalsingh opened #7 "Dark mode"
The text colour in dark mode changes to white which is not legible.

[2020-09-06 16:41] #7 closed

[2020-09-09 13:42] pushpinderpalsingh opened #8 "About SpaceDash"
Update about the app

[2020-09-09 13:43] pushpinderpalsingh opened #9 "Add a pop-up for Tentative sign."
When the launch is tentative, there will be a little green sign next to the launch date. But it doesn't tell much to the user what it is. I was wishing there could be a little pop-up when we either tap on it which could tell the user what the little T sign is.
I am attaching the screenshot with the Tentative sign.

![Simulator Screen Shot - iPhone 11 - 2020-09-30 at 11 41 27](https://user-images.g

[2020-09-10 10:16] #8 closed

[2020-09-16 03:25] pushpinderpalsingh opened #10 "Add Corner Radius for isActive Button"
![C656916E-686A-4635-B652-BCDB62C228D7](https://user-images.githubusercontent.com/47032662/93288717-2f8ee500-f7fa-11ea-8023-5da80982ccf6.jpeg)

[2020-09-16 03:26] pushpinderpalsingh opened #11 "Table View Extra Scroll"
![6B757C85-1878-4A58-BA90-90043260C4A1](https://user-images.githubusercontent.com/47032662/93288841-754bad80-f7fa-11ea-8279-7303f5e85b1d.png)

[2020-09-16 03:29] pushpinderpalsingh opened #12 "Font Size"
![16DC697A-2FE1-42AD-BCF5-2FB5CFBA3FDC](https://user-images.githubusercontent.com/47032662/93288934-a62be280-f7fa-11ea-8bd9-4d3865be73c6.png)

[2020-09-16 03:32] pushpinderpalsingh opened #13 "Add more Corner Radius for Detail View cards"
<img width="249" alt="Screenshot 2020-09-16 at 9 01 15 AM" src="https://user-images.githubusercontent.com/47032662/93289154-50a40580-f7fb-11ea-8a39-d5aa53b723b7.png">

[2020-09-16 05:34] #12 closed

[2020-09-16 06:27] #10 closed

[2020-09-16 06:27] #13 closed

[2020-09-16 15:31] #11 closed

[2020-09-24 11:06] pushpinderpalsingh opened #16 "Update to V4 of r/SpaceX API"

[2020-09-24 11:28] #16 closed

[2020-09-25 16:18] pushpinderpalsingh commented on #7
@all-contributors please add @pushpinderpalsingh for Project Manager and Mentor

[2020-09-25 16:29] pushpinderpalsingh commented on #7
@all-contributors please add @pushpinderpalsingh for maintenance

[2020-09-25 16:35] pushpinderpalsingh commented on #7
@all-contributors please add @pushpinderpalsingh for maintenance

[2020-09-25 16:44] pushpinderpalsingh commented on #7
@all-contributors please add @pushpinderpalsingh for maintenance

[2020-09-25 16:55] pushpinderpalsingh commented on #7
@all-contributors please add @pushpinderpalsingh for maintenance

[2020-09-25 20:09] pushpinderpalsingh opened #23 "Create a Rocket Details Page"
I am attaching some UI Mockups, which should be opened when someone taps on the rocket on the home page. There should be a little animation that will extend the white part and everything should dissolve in.

![iPhone XS](https://user-images.githubusercontent.com/47032662/94310858-ee37cb80-ff97-11ea-8185-9eb8ac4d8f42.png) ![iPhone XS Read More](https://user-images.githubusercontent.com/47032662/943

[2020-09-26 08:31] pushpinderpalsingh opened #24 "Divide the Main.Storyboard into Multiple Storyboards."
Currently, the app has one massive storyboard namely Main.Storyboard. Divide it into multiple storyboards containing one or two relevant ViewControllers to a topic like Detail Viewcontroller can have their own storyboard. This will help us reduce those pesky Merge Conflicts as the project progresses.

[2020-09-26 12:42] pushpinderpalsingh opened #25 "Add Shadow to Rocket Image in Home Screen"
Add shadow to rocket on the home screen like the one present on the second screenshot.
![Screenshot 2020-09-26 at 6 10 55 PM](https://user-images.githubusercontent.com/47032662/94341021-cbeb8f80-0023-11eb-9ea8-3bb1408a6d1a.png) ![iPhone XS](https://user-images.githubusercontent.com/47032662/94341026-d017ad00-0023-11eb-8016-1ab7d4089c8c.png)

[2020-09-26 13:20] pushpinderpalsingh opened #26 "Create a Widget for upcoming launch"
Code a widget like below. The Background image should be updated depending upon the rocket it is going to launch. The design is not perfect, if you think you can make it better let us discuss it in the comments below.

![Group 39](https://user-images.githubusercontent.com/47032662/94341655-b62c9900-0028-11eb-8329-74c66d5200ef.png)

The app should support both iOS 14 and iOS 13.

I am attaching som

[2020-09-26 13:27] pushpinderpalsingh opened #27 "Update Readme and Rename Screenshots folder to Assets."
Update README to have the latest Screenshots. And Change the name of the Screenshots folder to Assets. If you do not have access to an iOS Device, do let me know I will send you fresh new Screenshots.

[2020-09-26 14:08] gokulkannan7 commented on #27
Hi!! I would love to work on this issue

[2020-09-26 14:09] gokulkannan7 commented on #27
Hey, I would like to make these changes!

[2020-09-26 14:12] gokulkannan7 commented on #27
I don't have access to any ios device, it would be nice if you could send the screenshots

[2020-09-26 15:30] pushpinderpalsingh commented on #27
Sure thing. I will be adding screenshots soon

[2020-09-26 15:37] pushpinderpalsingh commented on #27
![Screenshot 2020-09-26 at 9 03 37 PM](https://user-images.githubusercontent.com/47032662/94344308-f5b0b080-003b-11eb-991f-709476dfac04.png) ![Screenshot 2020-09-26 at 9 03 49 PM](https://user-images.githubusercontent.com/47032662/94344309-f8130a80-003b-11eb-87b9-40cacf77415c.png) ![Screenshot 2020-09-26 at 9 03 53 PM](https://user-images.githubusercontent.com/47032662/94344310-f9443780-003b-11eb-

[2020-09-26 17:15] ryanvarghese commented on #27
Sir , i would love to do this !
Do let me know whether you will be willing to assign this task to me.

[2020-09-26 17:28] pushpinderpalsingh commented on #27
@ryanvarghese I have currently assigned this task to @gokulkannan7, I think he is currently working on it. If I feel like no work has been done, I can definitely assign it to you. I will be posting more such simple tasks, so I would recommend keeping this repo in your watching list.
Also while you are here. Do star the repo.

[2020-09-26 17:30] gokulkannan7 commented on #27
yes sir, i am working on it, will update you soon

[2020-09-26 17:40] gokulkannan7 commented on #27
Sir the quality of the pics is decreasing on my laptop when I download it

[2020-09-26 18:25] ryanvarghese commented on #27
Okay no problem. Will star your repo!

[2020-09-27 08:41] pushpinderpalsingh commented on #27
@gokulkannan7 you can download screenshots from this Drive link https://drive.google.com/drive/folders/1tt0sy6V4pUdci7bYwpl_5dVuDNaMuayY?usp=sharing

[2020-09-27 10:43] pankova commented on #25
Hello! 🙂 Could I help you with it as Hacktoberfest participating?

[2020-09-27 11:58] pushpinderpalsingh commented on #25
Sure that would be awesome. I am assigning this issue to you. You can join the project communication, on slack. The link can be found in the project Readme

While you are here, Do Star the Project. 😃

[2020-09-27 17:26] gokulkannan7 commented on #27
Sir, since this PR is a part of hacktoberfest, can I open the PR on Oct 1?

[2020-09-27 19:34] pushpinderpalsingh commented on #27
cool no problems

[2020-09-28 13:07] clarkeben commented on #27
A few considerations, @pushpinderpalsingh :
- Remove unnecessary full stops from bullet points
- Typos, maybe run the text through Grammarly

- Remove white space below the image and section

[2020-09-28 13:11] pushpinderpalsingh commented on #27
That would be awesome. Can you open a new issue and I will assign it to you. While your are doing that, You can maybe proofread all the docs including contributing.md and code of conduct?

[2020-09-28 14:59] clarkeben opened #28 "Address typos and grammatical errors within supporting documents"
Address typos and grammatical errors within the supporting documents:
- README.md
- Contributing.md
- Code of conduct

**Acceptance criteria:**
- Address typos
- Modify grammatical errors
- Remove blank space
- Ensure consistent formating

[2020-09-28 15:02] clarkeben commented on #27
I've added the issue, I was going to include a consideration for adding a "Technologies" section within the README.md. I could probably figure out the build process from the project files 🙂

[2020-09-28 15:31] pushpinderpalsingh commented on #27
That would be great. Since you are an iOS Developer, I think you can also add an architecture.md file? Explaining the MVP design pattern this app is using as providing some references where one can learn more about the same?

[2020-09-28 15:34] pushpinderpalsingh commented on #28
@all-contributors add @clarkeben for docs

[2020-09-28 17:40] clarkeben commented on #27
Yeah, more than happy to help! Let me create an additional issue to cover architectural design etc. So the tickets can be separate.

[2020-09-28 17:55] clarkeben opened #30 "Create an architecture.md file"
Create an architecture.md file to support development.

**Acceptance Criteria:**
- Provide information about the current design pattern (MVC)
- References regarding the model, views and controllers
- API information
- JSON parsing

..etc

[2020-09-29 04:46] pushpinderpalsingh commented on #27
@clarkeben if you want to contribute to iOS App, I would recommend joining slack (The link is in the readme). BTW, while you are here can you star the repo?

[2020-09-30 22:35] clarkeben commented on #27
@pushpinderpalsingh yeah I'd love to help out, I've got a few bits on my plate currently - but I'll see what can be done with the current version 😀

[2020-10-01 04:54] gokulkannan7 commented on #27
@pushpinderpalsingh I have opened a PR, pls do check

[2020-10-01 07:15] pushpinderpalsingh commented on #27
Cool let me check

[2020-10-01 10:26] clarkeben commented on #26
@pushpinderpalsingh could you assign this to me, I will see what I can create over the weekend. I have given the repo a like and I'll join the slack group later 🙌

[2020-10-01 10:35] pushpinderpalsingh commented on #26
@machine-geek is already working on this. Maybe you can collaborate on the widget with him? He is on slack as Akhigbe Benjamin and is currently working on better design for the widget. If you are willing to collaborate let me know I will assign this issue to both of you.
You can also work on two completely different functionalities for widgets. Let us discuss this over at slack if you want to work

[2020-10-01 11:49] #28 closed

[2020-10-01 12:20] pushpinderpalsingh opened #33 "New Launchscreen"
Update the launch screen such that it follows [Apple's Human Interface Guidelines for launch screen](https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/launch-screen). Currently, the launch screen just contains the app logo which adds a bit of unnecessary visual interruption.

[2020-10-01 12:44] pushpinderpalsingh opened #34 "Find and List different API's for different Space Agencies."
As we have plans to integrate more Space Agencies, we would be needing a lot more APIs. Create a new file under the Assets folder (currently named screenshots) if it is not already present there. The file should be using the following format.

| API | Links | Opensource | Paid |
| ------------- | ------------- | ------------- | ------------- |
| SpaceX  | [Github](https://github.com/r-spacex/Space

[2020-10-01 12:57] jamie-brannan commented on #34
Hello! I'd like to participate as a part of Hacktoberfest. Would you like this to be a `.md` document?

[2020-10-01 13:28] pushpinderpalsingh commented on #34
Yes. you can name it APIs.md

[2020-10-01 13:36] pushpinderpalsingh opened #35 "Create a NSCache for data returned from API"
Create an NSCache that will store the data sent by API for specific queries which is being used frequently and/or updated rarely. This will decrease the loading times for our app while giving us the ability to easily query the DB for possibly filters and stuff.

[2020-10-01 13:36] jamie-brannan commented on #34
Fantastic! Please assign it to me, and I'll jump right on it. 👍  Thanks!

[2020-10-01 14:46] pushpinderpalsingh commented on #34
I think this is an issue that can benefit from how many people are working on it. So if anyone else wants to add something to the APIs.md file do let me know in the comments!

[2020-10-01 17:13] brainboxdeveloper commented on #26
I am working on this, the mockup design will be available for review tomorrow

[2020-10-01 17:14] brainboxdeveloper commented on #26
@clarkeben I will be happy if we can work together this because I have a lot of nice idea for the home widget

[2020-10-01 17:53] kjoe07 opened #37 "remove the back tittle from the back button"
just leave the < is more clean the navigation

[2020-10-01 18:38] pushpinderpalsingh commented on #26
I have assigned both of you to create the widgets, I think both of you can collaborate and create a wonderful widget.

[2020-10-01 19:27] clarkeben commented on #26
Sounds good! Let's finalize our ideas this week and begin production as soon as possible.

[2020-10-01 19:43] Luan-BK commented on #33
Hi! May I work on this issue?

[2020-10-01 21:16] brainboxdeveloper commented on #26
Alright ben, team widget all the way

[2020-10-02 00:39] pushpinderpalsingh commented on #33
Sure thing. I am assigning this issue to you.

[2020-10-02 04:59] megandsouza03 commented on #9
Hello!
I would like to work on this issue, could I start with it? 💻

[2020-10-02 06:13] devwaseem commented on #23
Hi. I'll work on this

[2020-10-02 09:20] devwaseem commented on #9
Hi. I would like to work on this issue. I already made pop up controllers to show the tentative details. the popup dynamically resizes based on the text content.
<img src="https://user-images.githubusercontent.com/12982964/94907648-1787b880-04be-11eb-9562-8ee22d4e107d.png" width="250px" height="550px"/>
<img src="https://user-images.githubusercontent.com/12982964/94907637-135b9b00-04be-11eb-8941-a

[2020-10-02 09:25] devwaseem commented on #9
I've added dark mode support too. this is optional since other parts of the app don't support dark mode. I would like to know if you are going to support dark and light mode.

[2020-10-02 10:04] pushpinderpalsingh commented on #23
Sure thing. I am assigning it to you.

[2020-10-02 10:14] pushpinderpalsingh commented on #9
I like @devwaseem's first mockup much better. I have plans to support Dark and light mode but for that, I believe we will need to change a lot of our UI styling

[2020-10-02 10:16] devwaseem commented on #9
Cool. I'll leave the dark mode support as is now. Here's how it looks.
<img src="https://user-images.githubusercontent.com/12982964/94913120-5457ad80-04c6-11eb-8106-d95d68cc3fd0.png" width="250px" height="550px"/>
<img src="https://user-images.githubusercontent.com/12982964/94913134-5883cb00-04c6-11eb-979e-1134d52e53bc.png" width="250px" height="550px"/>

[2020-10-02 11:05] devwaseem opened #39 "Network manager leaking memory"
The network manager holds a strong reference to its delegates. so the class assigned as a delegate to network manager is never released due to strong memory reference. I'm attaching profiler screenshots supporting for my issue.

![Screenshot 2020-10-02 at 4 15 16 PM](https://user-images.githubusercontent.com/12982964/94916723-d519a800-04cc-11eb-8923-8bd7f7038078.png)

I opened the DetailsViewContr

[2020-10-02 11:09] devwaseem commented on #39
Assign me. I'll make a PR solving this issue

[2020-10-03 09:28] #9 closed

[2020-10-03 09:28] #39 closed

[2020-10-03 17:51] jamie-brannan commented on #34
Hello ! Quick question for you @pushpinderpalsingh , when looking at the [contributing guide](https://github.com/pushpinderpalsingh/SpaceDash/blob/develop/Contributing.md) I do not see anything about branch naming conventions.

This is my first Open Source contribution so I want to double check with you that it's alright for me to create a branch off of `develop` named `documentation/space_agency_

[2020-10-03 21:54] jamie-brannan commented on #34
🚧  Another small bump in the road, I'm currently blocked from creating a branch on this project off of `develop`. May I have access rights please?

I cloned the project and have a local branch ready to push when you are 🚀

[2020-10-04 05:22] pushpinderpalsingh commented on #34
You need to fork the project, create changes in your fork then create a pr to my repo. Check the readme of the repo for more information.

As for the branch naming convention, it can be anything if the name is relevant.

[2020-10-04 05:35] pushpinderpalsingh commented on #27
@gokulkannan7 if you are still working on this let me know. If you don't respond within 24 hours, I will assign it to someone else.

[2020-10-04 13:20] jamie-brannan commented on #34
- [ ] PR #43 to be linked to this issue

[2020-10-04 15:13] pushpinderpalsingh commented on #25
@pankova are you still working on this?

[2020-10-04 15:18] pushpinderpalsingh commented on #34
Although I have accepted your pr, I would still like more API options. Can you still work on it? @jamie-brannan

Also while you are here, do give a star to the repo. 😃

[2020-10-04 15:26] jamie-brannan commented on #34
Thank you so much @pushpinderpalsingh 👍

Absolutely! I count on at least getting the known NASA ones listed and sift through some more.

This seems like a potentially long-term point of refer eve My idea was to start the doc with structure.

[2020-10-04 15:36] pushpinderpalsingh commented on #34
That's great. I would recommend joining the slack channel if you are here for the long term and not just Hacktoberfest. Slack makes communication much easier.

[2020-10-04 17:57] pankova commented on #25
Hello! Yeah, I faced with trouble of loading dependencies. Could you help?
[code]

[2020-10-04 18:33] pushpinderpalsingh commented on #25
Are you inside the repo directory while installing pods?

[2020-10-04 18:55] pankova commented on #25
Yes)
[code]

[2020-10-04 19:00] pushpinderpalsingh commented on #25
do you have cocoapods installed?

[2020-10-04 19:06] pankova commented on #25
Yes
[code]
, but in repo folder
[code]
I tried to install it, but it didn't help
[code]

[2020-10-04 19:16] pushpinderpalsingh commented on #25
Have you checked on StackOverflow if you can find a solution?

[2020-10-05 05:33] Shubham0812 commented on #33
I'll try it out too @pushpinderpalsingh  :)

[2020-10-05 05:50] pushpinderpalsingh commented on #33
@Shubham0812 I don't think we need more than one person on this issue. I will be adding more issues today. Also you can find bugs and report any issues you find.

@Luan-BK Can you reply so that we know you are working on this?

[2020-10-05 05:52] Shubham0812 commented on #33
@pushpinderpalsingh yeah, that's true. Sounds good to me :)

[2020-10-05 06:10] pankova commented on #25
Yes. Now I faced a new error
[code]
I will try to figure out the reason after work, thanks! 🙂

[2020-10-05 06:40] aorellano commented on #37
Love the app Idea would like to work on this issue or any others that are still open :)

[2020-10-05 06:53] pushpinderpalsingh commented on #37
I don't think this is necessary. @aorellano I am adding more issues do have a look.

[2020-10-05 06:53] #37 closed

[2020-10-05 07:01] pushpinderpalsingh opened #45 "Design a iPad Specific UI"
**What is your idea/feature:**
Design a different iPad optimized UI.

**Why this is beneficial:**
Currently, there is a common UI for all iOS devices which doesn't use all the extra space in any beneficial way. Creating a special iPad UI will mean that there will be more capable in the iPad App.

**Solutions:**
Design a UI Mockup for iPad.

**Acceptance criteria:**
-UI Mockups (screenshots)

**Add

[2020-10-05 07:04] pushpinderpalsingh commented on #27
Hey, @jamie-brannan can you work on this?

[2020-10-05 07:05] pushpinderpalsingh commented on #30
@clarkeben are you currently working on this?

[2020-10-05 07:05] jamie-brannan commented on #27
Hello 👋 @pushpinderpalsingh, certainly! Assign this it me please and I'll work on it this week.

[2020-10-05 09:34] clarkeben commented on #30
@pushpinderpalsingh yeah, I've started this, I am aiming to finish sometime this week.

[2020-10-05 11:10] pushpinderpalsingh commented on #30
That's awesome!

[2020-10-05 14:37] Shubham0812 commented on #45
I agree, Ipad UI should be a little different than the iPhone versions. I'm taking this up, let's see what I can do. 😄

[2020-10-05 16:31] pushpinderpalsingh commented on #45
cool, I am assigning this to you.

[2020-10-06 09:05] Shubham0812 commented on #45
@pushpinderpalsingh I've created some designs, let me know your thoughts on the same. 😄

## Home Page

Optimized layouts for ipads -
* 2 Columns/ Row for the upcoming launches that scrolls vertically.
* Added icons to the Launch date, Launch site containers.
* 2 Columns/ Row for the various categories that scrolls horizontally.
* Increased Font Size for improved readability of text.

![pad1](https

[2020-10-06 09:06] Shubham0812 commented on #45
If everything works well, give me write access and I'll create a new branch and raise a PR for the screenshot assets.

[2020-10-06 09:17] clarkeben commented on #45
Welcome on board @Shubham0812 🙌

Great design, a few user experience notes for the HomeViewController:
- UI view containing launch date/site/payload.. look clickable is there a way of not making the boxes stand out so much
- Can the categories have an inset so users are aware they can scroll horizontally

This is just speculation I like the design, any thoughts appreciated @pushpinderpalsingh @Shu

[2020-10-06 09:27] pushpinderpalsingh commented on #45
I completely agree with @clarkeben. I was thinking of adding a watch now button for both iphones and ipad under upcoming launch. This button should redirect to any live stream of the launch. Any thoughts? @clarkeben @Shubham0812

Also @Shubham0812 check under issues there is a mockup for Rocket Details page. Do make a ipad version of the same.

I think with some minor adjustments this design would

[2020-10-06 09:28] Shubham0812 commented on #45
@clarkeben good point raised, I've made the necessary changes, and updated the Home page.
@pushpinderpalsingh

![update1](https://user-images.githubusercontent.com/19903539/95184003-5f6f4e00-07e4-11eb-936c-d639183ae3b9.png)

[2020-10-06 09:56] clarkeben commented on #45
@pushpinderpalsingh I think the watch now button could be tackled as a separate feature - we'd need to manage the state so it might be easier creating a new ticket for this 😄

@Shubham0812 good work 🔥!

[2020-10-06 12:01] pushpinderpalsingh commented on #45
Ok, @clarkeben  that would be better. @Shubham0812 You will need to take care of the font styling such that it is the same as the iPhone version.
As for write access is concerned. You need to fork the repo then make changes in that and then create a PR to this repository. Also while you are there, give this repo a star 🌟

[2020-10-06 12:03] pushpinderpalsingh commented on #33
I don't think @Luan-BK is working on this, @Shubham0812 do you want to work on this before you create a pr for issue #45?

[2020-10-06 12:04] pushpinderpalsingh commented on #26
@clarkeben @brainboxdeveloper  has created some Mockups for the widgets, can we discuss it over slack?

[2020-10-06 12:17] pushpinderpalsingh opened #46 "Create a Watch now Button for Upcoming Launch"
**What is your idea/feature:**
Add a Watch Now button for Upcoming Launch

**Why this is beneficial:**
A watch now button will help to direct our users to the live stream of the upcoming launch. This will make our app more intuitive.

**Solutions:**
The SpaceX API in most cases returns a Youtube link for most of the upcoming launch. When the link is available there should be a green clickable butt

[2020-10-06 12:20] pushpinderpalsingh commented on #23
@devwaseem Can you confirm if you are still working on this issue?

[2020-10-06 12:34] pushpinderpalsingh opened #47 "User Customisable App Icon"
**What is your idea/feature:**
Give the user to customize their app icons.

**Why this is beneficial:**
This will give users to customize how they want to see their Dashboard 😉  I am providing some App Icon that users can choose from. You can drop in your recommendation too. Create an option in the About Section (Which will be changed to preference after this is implemented.) where users have the

[2020-10-06 13:58] Shubham0812 commented on #45
@pushpinderpalsingh cool I'll fork and give a thumbs up, do you want to the change the font too in the designs?

[2020-10-06 14:02] pushpinderpalsingh commented on #45
Nope I don't think that's necessary. Just make sure you get it right in the code

[2020-10-06 14:13] Shubham0812 commented on #45
@pushpinderpalsingh I've raised a PR for the mockups, this issue was for designing the Mockups right? I'd love to take the creation part too next.

[2020-10-06 14:38] pushpinderpalsingh opened #49 "Create a iPad UI from Mockups"
The mockups for the UI has been designed by @Shubham0812. It is available at [this link](https://github.com/pushpinderpalsingh/SpaceDash/tree/develop/Screenshots/iPad-Mockup). Create the UI in code. You can use a combination of Storyboard and Programmatical UI, Although keep in mind that there are already custom classes for various UI elements prefer to use it over creating your own.

[2020-10-06 14:39] pushpinderpalsingh commented on #45
@Shubham0812 I have created a new issue #49 if you comment there, I can assign it to you

[2020-10-06 14:39] #45 closed

[2020-10-06 14:45] pushpinderpalsingh opened #50 "Write an App Store description"
Update the Description for this app. The current description is present in [this file](https://github.com/pushpinderpalsingh/SpaceDash/blob/develop/fastlane/metadata/en-US/description.txt) edit the same file with the updated description.

[2020-10-06 15:31] rarchitgupta commented on #50
What does the updated description have to be?

[2020-10-06 18:00] pushpinderpalsingh commented on #24
I have completed this issue with my latest commit.

[2020-10-06 18:00] #24 closed

[2020-10-07 02:03] brainboxdeveloper commented on #26
alright boss

[2020-10-07 04:05] Shubham0812 commented on #33
Sure, I'll take this up next. 👍  @pushpinderpalsingh

[2020-10-07 04:46] pushpinderpalsingh commented on #33
Ok @Shubham0812 I have assigned this to you

[2020-10-07 04:50] pushpinderpalsingh commented on #50
Maybe proofread and update any grammatical errors or otherwise. I mentioned that I was the lone developer on this app, but that's not the case now. Just run of the mill improvements for the app description.

[2020-10-07 05:03] pushpinderpalsingh opened #52 "Design a Banner for SpaceDash twitter"
I have created a twitter page for [SpaceDash](https://twitter.com/SpaceDashApp). Although currently there are no tweets from SpaceDash, I plan to start tweeting soon. The banner should be something related to the app. You can provide Banner in the comments below and if the community likes it, you can add it into the screenshots folder and create a pr.

[2020-10-07 07:23] Shubham0812 commented on #33
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-10-07 at 12 44 18](https://user-images.githubusercontent.com/19903539/95299734-cef44480-089b-11eb-9af6-0be52426e6db.png)

Here's what I've done. I've added the tab bar with unselected items in the LaunchScreen.
It provides a fluid transition to the Home screen.
Do let me know your thoughts on this @pushpinderpalsingh.

[2020-10-07 07:28] rarcilla commented on #46
Hi, I'm interested in contributing to the project! Here are the mockups I made of the buttons:

<img width="589" alt="Screen Shot 2020-10-07 at 12 20 41 AM" src="https://user-images.githubusercontent.com/45868050/95300138-9fa9ed00-0833-11eb-9b35-9626426de427.png" width="100">

Also to confirm, the code required to complete this issue doesn't require handling the api is that right? Ie that info is

[2020-10-07 10:05] pushpinderpalsingh commented on #33
@Shubham0812 Can you make it look more like the home screen of our app? I think you should remove the logo and black screen. Check out the launch screens of first party apps, you will know what I am talking about

[2020-10-07 10:08] pushpinderpalsingh commented on #46
The API calls have been handled although you would need to handle the decoding of the data. As of now decoded doesn't decode the links I believe.

About the design, can you send me a home screen mockup with this watch now button? I personally don't like the Play button. @rarcilla

[2020-10-07 10:08] pushpinderpalsingh commented on #46
Are you thinking of working on it? If yes I will assign this issue to you. @rarcilla

[2020-10-07 11:29] Shubham0812 commented on #33
@pushpinderpalsingh which type of apps are you considering? Because on most of them I see the logo- Medium, Netflix, Zomato etc.

[2020-10-07 11:32] pushpinderpalsingh commented on #33
The first party one's safari, mail, camera, etc. See the Human Interface Guidelines for Launch Screens. @Shubham0812

[2020-10-07 11:36] Shubham0812 commented on #33
@pushpinderpalsingh yes I do have read the launch screen guidelines.

You cannot modify the view through code or by adding runtime attributes though. So creating a view in the launch board that looks like the new launches view in the home.storyboard is tough.

[2020-10-07 11:40] pushpinderpalsingh commented on #33
Yes I agree. Can you just create a launch screen that has black background with white upcoming launch panel. No texts or images or scroll view. @Shubham0812

BTW are you on SpaceDash slack? We can have this conversation in a much better and efficient way

[2020-10-07 11:51] Shubham0812 commented on #33
Cool, I'll try adding that. @pushpinderpalsingh

Not yet, where do I find the link?

[2020-10-07 11:52] pushpinderpalsingh commented on #33
The link is in the read me at the end

[2020-10-07 14:03] #50 closed

[2020-10-07 16:11] rarcilla commented on #46
@pushpinderpalsingh I think I’ll pass on this issue - someone else could take it.

[2020-10-07 16:12] M1zz commented on #52
@pushpinderpalsingh Hi! I want to contribute. can I get this issue?

[2020-10-07 16:15] pushpinderpalsingh commented on #52
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo! @M1zz

[2020-10-07 18:05] pushpinderpalsingh commented on #46
No issues. Great to have you here, anyways 😃

[2020-10-07 21:47] jamie-brannan commented on #27
Hey @pushpinderpalsingh , commenting to run through some of the objectives for this issue

- [x] Change Screenshot folder to Assets

- [ ] Edit text for spelling and grammar errors

- [ ] Add screen shots ◀️ _A screenshot section, or a features section?_

Are there any other aspects of the README.md you'd like to look at?

[2020-10-08 03:49] pushpinderpalsingh commented on #27
You need to remove any and all assets which will not be used. The assets folder should have spaceAgencies.md and two other folders namely Screenshots and Mockups. Screenshots folder should contain the images which are going to be used in Readme while mockups can have images of mockups. While you are editing the Mockups folder, can you also add mockups from issue #23? Make sure the name of the mock

[2020-10-08 12:31] Shubham0812 commented on #33
@pushpinderpalsingh I've added a view, taking the same amount of height as the Upcoming Launches.
What are your thoughts on this?

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-10-08 at 18 00 58](https://user-images.githubusercontent.com/19903539/95458804-57541180-0990-11eb-8a0f-818005ca5418.png)

[2020-10-08 12:43] pushpinderpalsingh commented on #33
I think it looks good. Can you convert the status bar black. And make the white view's parent class as upcoming view?

[2020-10-08 14:00] pushpinderpalsingh commented on #52
Solved in PR #56

[2020-10-08 14:00] #52 closed

[2020-10-08 15:37] dheerajghub commented on #23
Can we use programmatic UI to achieve this?

[2020-10-08 15:44] pushpinderpalsingh commented on #23
I generally prefer but you definitely can use programmatic UI. Just make sure you have properly documented the code. I would recommend [this video]( https://www.youtube.com/watch?v=hu90G_M0vaA) for documenting your code.

[2020-10-09 01:57] dheerajghub commented on #23
Yeah sure! I'll do this. Can you assign it to me? And can I add my own design ideas in it?

[2020-10-09 03:42] pushpinderpalsingh commented on #23
if the design ideas are minor it will be fine. But if there is anything major, provide mockups of the changes in the comments of this issue before implementing code. @dheerajghub

[2020-10-09 03:42] pushpinderpalsingh commented on #23
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo!

[2020-10-09 04:45] dheerajghub commented on #23
Look at these designs do you find these relevant, I've already done with the first part 😅  but the second one is just mock up! Any modifications you want me to do! Once you acknowledge me that this is relevant and good I'll proceed further.

![](https://imgur.com/fNeexeK.png) ![](https://imgur.com/ItvHwR7.png)

[2020-10-09 05:50] pushpinderpalsingh commented on #23
@dheerajghub I don't think that would work. I have some metrics that this design is not. Also, I have plans to integrate AR on tap action of Rockets.

On second thoughts, if you can somehow integrate all the metrics in the little pop-up, while not overcrowding it and having an option to add a button for AR in the future that would be great.

[2020-10-09 06:07] rajhraval1 commented on #47
I would like to work on this issue.

[2020-10-09 06:08] pushpinderpalsingh commented on #47
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo!

[2020-10-09 06:12] rajhraval1 commented on #47
Can I get the link for full-sized app icons? as mentioned in the description.

[2020-10-09 06:18] pushpinderpalsingh commented on #47
Sure. I actually forgot about that. I have actually sent you a zip of the App Icons on slack. Can you confirm if it is unzipping properly?

[2020-10-09 06:18] dheerajghub commented on #23
AR Button can be placed on the rocket detail page, If you want that! BTW if we implement two popups in one view controller that sure will become messy!

[2020-10-09 06:22] pushpinderpalsingh commented on #23
I am not saying two popups. I am saying add more metrics to the one you have made for Description. After a line or two of description, add some metrics like present in my design. Which would increase the pop-up's height.

[2020-10-09 06:25] rajhraval1 commented on #47
Yes, AppIcons Pack has unzipped properly.

[2020-10-09 06:32] dheerajghub commented on #23
With metrics you mean data? And what about AR Button?

[2020-10-09 06:36] pushpinderpalsingh commented on #23
Let's discuss this over slack!

[2020-10-09 12:54] dheerajghub commented on #23
This is my final work what do you think?

<img src="https://imgur.com/eRukr7T.png" height = "400">

[2020-10-09 15:53] pushpinderpalsingh commented on #23
Personally, I don't like it. The initial mockup was according to me more inclusive of the current design. Can you let me know whats wrong with my design?

[2020-10-09 17:18] dheerajghub commented on #23
In your second mockup, there is a popUp view which contains a description of the rocket what if the description is too long this is not a great idea to show it as a popup! What's wrong about my design?? Give feedback to both views. Please!

[2020-10-09 19:46] jamie-brannan commented on #27
Certainly, for #23 mockups however...

#### How can I tell the difference between a Screenshoot and a Mockup for this project?

What I'm used to a screenshot is just a capture of what's on the device screen where as a mockup has the screen framed in the device, but `Assets/iPad-Mockup` has pictures I'd categorize as screenshots.

`Assets/collage.png` is a college on mockups ➡️ would you like to ke

[2020-10-10 06:08] pushpinderpalsingh commented on #23
It's ok to create a pop-up as you designed for the read more. If the description is too long, it should adjust accordingly. It's not a good option to leave a full view empty "if" description is long.

As for your implementation, I don't like the design. Plus, if you have actually looked at my design it's not a pop-up, its a separate view. In your design, we would be having the pop-up inside of pop

[2020-10-10 06:14] pushpinderpalsingh commented on #27
Remove everything except iPad-Mockup, spaceAgencies.md, and Download_on_the_App.png. I think it would be fine if you saved them from your browser. You are talking about #23 mockups, right?

I think you might want to pull the latest version of the repo as recently, we have also added twitter banners.

[2020-10-10 06:20] Shubham0812 commented on #33
@pushpinderpalsingh Sure, I changed the status bar to black, what's the second thing? I didn't quite understand that part.

[2020-10-10 10:27] pushpinderpalsingh commented on #33
@Shubham0812 I have designed a custom class that will automatically curve the edges. You can see it under the Controllers under views named UpcomingView. If you click on the white view, and then into identity inspector, you would be able to set a custom class for it. Make it UpcomigView.

[2020-10-10 14:09] pushpinderpalsingh commented on #30
Thanks, Ben! I have merged the PR for this issue!

[2020-10-10 14:09] #30 closed

[2020-10-10 14:11] clarkeben commented on #33
@Shubham0812 @pushpinderpalsingh l missed your message, but it looks good. I will need to test the transition on a device to see how it looks.

As well as this, we should test launch time speeds using the launch time pane or MetricKit! If performance is affected by the image size we can always compress it.

[2020-10-11 07:41] Shubham0812 commented on #33
oh it's an image, it's a view with the same color :)

[2020-10-11 08:34] pushpinderpalsingh commented on #33
Hey @Shubham0812, any progress on the launch screen? I don't think that should take long. @clarkeben and I can test the performance after you have created a PR and get back to you if something needs to be updated!

[2020-10-11 08:35] Shubham0812 commented on #33
Yeah, I'll do that in the evening, currently I'm outside.

[2020-10-11 11:18] jamie-brannan commented on #27
Okay, that's clear thank you. I'll pass through another commit and submit an PR today once I rebase. 👍

[2020-10-12 08:56] dheerajghub commented on #23
#62

[2020-10-12 09:05] Shubham0812 commented on #33
<img width="266" alt="Screenshot 2020-10-12 at 2 30 37 PM" src="https://user-images.githubusercontent.com/19903539/95727591-fa11d600-0c97-11eb-8162-5389c2d47fc6.png">
@pushpinderpalsingh  it did not allow me to add UpcomingView to the Launchscreen.

I have removed the class and raised a PR, do look into it and let me know :)

[2020-10-12 09:19] pushpinderpalsingh commented on #33
ok I will have a look

[2020-10-12 12:34] #33 closed

[2020-10-12 16:11] pushpinderpalsingh commented on #49
Hey, @Shubham0812 do you want to work on this next?

[2020-10-13 04:41] Shubham0812 commented on #49
Cool yeah, I can take it up. :)

[2020-10-13 12:34] pushpinderpalsingh commented on #49
Cool.

[2020-10-14 21:33] jkreller commented on #46
Hey @pushpinderpalsingh! I would like to try that issue! I made the following mockup according to @rarcilla's buttons. The color is taken from the "Active" badge to keep in the apps color scheme. I would reduce the size of the lower buttons ("Rockets", "All launches", ...) to fit the new one. Also I would only display the active button. Is no live stream is active / given I would just not display

[2020-10-15 06:52] pushpinderpalsingh commented on #46
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo if you haven't already!!

I don't think we have enough space to incorporate the watch now button on smaller iPhones. Although if you can find a way to better fit the watch now button on smaller iPhones, I am open to it. I believe reducing the size of the lower buttons might work.

[2020-10-18 17:35] pushpinderpalsingh opened #64 "Create a Webpage for SpaceDash App"
**What is your idea/feature:**
Currently, there is a very simple github.io page for SpaceDash. I want it to have a beautiful and informative Web Page.

**Why this is beneficial:**
This would expand the presence of SpaceDash and may lead to an increased number of downloads.

**Solutions:**
Create a Webpage that matches the theme from the iOS App.

**Additional context**
Before working on the webpag

[2020-10-18 19:00] #25 closed

[2020-10-19 07:36] #27 closed

[2020-10-21 06:29] pushpinderpalsingh opened #67 "Design new mockups for the App"
Currently, the app shows only data from SpaceX. We are planning to move to the next phase of development soon, which is integrating more  Space Agencies. For that, I believe we need to perform a complete redesign of the app.

**A couple of things to consider:**
- The design should be capable of being implemented in both Light and Dark Mode
- The feel of the app should largely be the same
- It woul

[2020-10-21 06:30] pushpinderpalsingh commented on #26
Guys any update for the widget? @clarkeben @brainboxdeveloper

[2020-10-21 06:31] pushpinderpalsingh commented on #47
Hey, @rajhraval1 any updates on the issue?

[2020-10-21 06:33] pushpinderpalsingh commented on #49
Hey, @Shubham0812 any updates on the issue?

[2020-10-21 07:46] rajhraval1 commented on #47
Hi @pushpinderpalsingh, the work is already done. Due to my Mac issues not fixed. I am not able to give a PR.

The working is basically as follows:
1) About View Controller is now a table view controller which opens other view controllers (Just like the settings app).
2) Selecting App Icons is shown in a table view controller.

Only thing remaining is fixing a checkmark bug after selecting the ico

[2020-10-22 04:00] pushpinderpalsingh commented on #47
Ok cool, no issues. @rajhraval1 do you have access to an alternate machine? I am looking for someone to do issue #67 and I believe you wanted to do the redesign.

Also is it also possible to change the LaunchScreen according to the selected App Icon?

[2020-10-22 04:44] rajhraval1 commented on #67
I am interested to take this issue!

[2020-10-22 04:54] rajhraval1 commented on #47
My Mac will arrive by today. I actually had backed up in another Xcode Project. Hopefully will do a PR in a day or two.

About the launch screen, I need to have a look.

Also I have commented on issue #67 for assignment.

[2020-10-22 08:26] pushpinderpalsingh commented on #67
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo if you haven't already!!

[2020-10-22 08:27] pushpinderpalsingh commented on #47
No worries. I have assigned issue #67 to you.

[2020-10-22 20:18] pushpinderpalsingh commented on #23
@dheerajghub you will need to open a new pr as pr #62  was not building successfully and is reverted back.

[2020-10-23 04:11] Shubham0812 commented on #49
Hey, @pushpinderpalsingh yeah I'll work on it this weekend, had been preoccupied.

[2020-10-23 07:03] pushpinderpalsingh commented on #49
Cool, no issues!

[2020-10-25 22:43] jacquealvesb commented on #67
Hi @rajhraval1, are you still working on that?

[2020-10-26 04:35] rajhraval1 commented on #67
Hi @jacquealvesb,

Yes, I and @pushpinderpalsingh are still working on the planning phase to implement the new designs.

[2020-10-26 16:07] pushpinderpalsingh commented on #67
Hey, @jacquealvesb we are discussing new features for the redesign, you can hop on over to slack if you want to participate.

I am willing to assign it to both of you if you can collaborate on it together. @rajhraval1

[2020-10-27 06:15] pushpinderpalsingh commented on #23
@dheerajghub I am going to unassign this issue because of inactivity.

[2020-10-27 06:19] anubhavsingh16 commented on #23
@pushpinderpalsingh im working on this issue can you please assign to me?

[2020-10-27 06:24] pushpinderpalsingh commented on #23
Sure thing. I am assigning this to you.

[2020-10-27 09:30] #47 closed

[2020-10-27 09:34] pushpinderpalsingh commented on #49
hey @Shubham0812, do you think you can create a pr for this issue before the end of this week? We are planning to redesign the complete UI by mid-December. And it would be in the best interest if we can deploy this asap.

[2020-10-28 23:46] jkreller commented on #35
Hey @pushpinderpalsingh! I would like to try that one! Which "specific queries" are meant exactly?

[2020-10-29 07:18] pushpinderpalsingh commented on #35
Sure thing. I am assigning this to you. While you are here, do 🌟  the repo if you haven't already!!

"Specific Queries" as in sorting and filtering data in various DetailViews (like rockets, launches, etc) based on available criteria. For example, rocket view can be filtered on the basis if it is Active or not,  and be sorted on the Date of the first launch.

I know it's a bit ambiguous, so it wou

[2020-10-29 20:43] jkreller commented on #35
@pushpinderpalsingh Okay, probably I misunderstood your requirements. I'll join the Slack channel and we can discuss it!

[2020-10-31 16:24] pushpinderpalsingh commented on #35
@jkreller That would be great!

[2020-11-01 19:05] #46 closed

[2020-11-01 19:05] #34 closed

[2020-11-02 11:47] pushpinderpalsingh opened #74 "Update Readme"
Add a badge for [SpaceDash Twitter](https://twitter.com/get_dash) and link to the [testflight link](https://testflight.apple.com/join/EvQ9KFhg) in the readme.

[2020-11-11 19:08] pushpinderpalsingh commented on #35
Implemented

[2020-11-11 19:08] #35 closed

[2020-12-06 12:57] #74 closed

[2020-12-06 13:26] pushpinderpalsingh opened #75 "Create a news/article feed"
Integrate [Spaceflight News API](https://spaceflightnewsapi.net/) so that our app can have a feed of the latest news and blogs about spaceflight. We could also integrate a WKWebview for opening links.

[2020-12-06 13:44] brainboxdeveloper commented on #75
That is a great idea boss, I am on it

[2020-12-06 13:47] pushpinderpalsingh commented on #75
Sure thing. I am assigning this to you.

[2020-12-19 04:28] sejalllkhanna commented on #67
Hello, could I also contribute to the design section in any way?

[2020-12-19 05:19] rajhraval1 commented on #67
Sure, If you have any ideas regarding the design, you can contribute!